body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F6F5F3;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.section h2 {
    color: #4C6FBF;
    border-bottom: 2px solid #4C6FBF;
    padding-bottom: 10px;
    margin-top: 20px;
}

.products-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 600px;
}

.product {
    display: flex;
    align-items: center;
    padding: 35px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    background-color: #fff;
    width: 76%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    flex: 0 0 100px;
    margin-right: 15px;
}

.product-image img {
    width: 100%;
    height: auto;
    max-height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.product-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}


/* Estilo para o botão "Selecionar" da view "selecionar_item_troca" */
.select-button {
    padding: 8px 15px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    width: 126px;  /* Aqui você pode ajustar a largura */
    height: 47px;  /* Aqui você pode ajustar a altura */
    display: inline-block;
    margin-top: 5px;
    background-color: #4C6FBF;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: background-color 0.3s ease;
}

.select-button:hover {
    filter: brightness(0.9);
}

.modal-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.modal-button.cancel {
    background-color: #FF4F4F;
    color: #FFFFFF;
}

.modal-button:hover {
    opacity: 0.9;
}
